[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "baRulho"]
	path = baRulho
	url = https://github.com/marce10/barulho
[submodule "dynaSpec"]
	path = dynaSpec
	url = https://github.com/marce10/dynaspec
[submodule "NatureSounds"]
	path = NatureSounds
	url = https://github.com/marce10/naturesounds
[submodule "ohun"]
	path = ohun
	url = https://github.com/marce10/ohun
[submodule "Rraven"]
	path = Rraven
	url = https://github.com/marce10/rraven
[submodule "sketchy"]
	path = sketchy
	url = https://github.com/marce10/sketchy
[submodule "warbleR"]
	path = warbleR
	url = https://github.com/marce10/warbler
