[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NatureSounds"]
	path = NatureSounds
	url = https://github.com/marce10/naturesounds
[submodule "sketchy"]
	path = sketchy
	url = https://github.com/marce10/sketchy
[submodule "warbleR"]
	path = warbleR
	url = https://github.com/marce10/warbler
